.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url("../../img/library.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../../img/library.jpg");
  height: 250px;
}

.header .header__name {
  height: 100px;
  width: 100%;
  display: table;
  padding: auto 0;
}

.header .header__name h1 {
  margin: 25px 0;
  color: white;
}

.header .header__name a {
  color: white;
  text-decoration: none;
}

.header .header__search {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__search input {
  width: 500px;
  height: 30px;
  border: none;
  padding: 0px 2px;
  border-radius: 5px 0 0 5px;
}

.header .header__search button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .header__search button img {
  width: 100%;
  height: 100%;
}

.header .header__search button:active {
  padding: 1px;
  background-color: silver;
}

@media (max-width: 580px) {
  .header .header__search input {
    margin-left: 10px;
    width: calc(100% - 50px);
  }
  .header .header__search button {
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }
}

.header .header__sort {
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__sort label {
  font-size: 1.2rem;
  color: white;
  margin: 10px 15px;
}

.header .header__sort select {
  height: 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

@media (max-width: 580px) {
  .header .header__sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 580px) {
  .header {
    height: 300px;
  }
}

.book-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 15%;
}

.book-list .book-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.book-list .book-list__load-more {
  margin-top: 30px;
}

.book-list .book-list__load-more button {
  border: none;
  background: #b3b3b3;
  width: 100%;
  max-width: 220px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

.book-list .book-list__load-more button:hover {
  background: #5e5e5e;
  color: white;
  border-radius: 20px;
  width: calc(100% + 20px);
  cursor: pointer;
}

@media (max-width: 320px) {
  .book-list .book-list__load-more button:hover {
    margin-left: -10px;
  }
}

.book-list .book-list__load-more button:active {
  background: white;
}

.book-list a {
  text-decoration: none;
  color: black;
}

.card {
  width: 200px;
  height: 400px;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-radius: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card .card__cover {
  margin: 10px auto 5px;
  height: 240px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card__cover img {
  border-radius: 5px;
  overflow: hidden;
}

.card .card__cover .card__cover_undefined {
  background-color: #bebebe;
  height: 100%;
  width: 90%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card .card__category {
  color: grey;
  margin: 0 15px;
  text-align: left;
  height: 20px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card .card__title {
  margin: 5px auto;
  height: 105px;
  width: 90%;
  overflow: hidden;
}

.card .card__author {
  color: grey;
  margin: 0 15px;
  text-align: left;
  height: 20px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.card:hover .card__cover_undefined {
  background-color: #888888;
}

.card:hover .card__author {
  color: white;
}

.card:hover .card__category {
  color: white;
}

.book-page {
  max-width: calc(1920px - 30%);
  margin: 0 auto;
}

.book-page .book-page__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book-page .book-page__info .book-page__info_cover {
  max-width: calc(100% - 55%);
}

.book-page .book-page__info .book-page__info_cover img {
  max-width: 100%;
  max-height: 100%;
}

.book-page .book-page__info .book-page__info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: calc(100% - 55%);
}

.book-page .book-page__info .book-page__info_wrapper .book-page__info_wrapper_cats-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 400px;
}

.book-page .book-page__info .book-page__info_wrapper .book-page__info_wrapper_cats-auth .book-page__info_wrapper_cats-auth_categories {
  background-color: rgba(128, 128, 128, 0.199);
  padding: 0 5px;
  max-width: 180px;
  border-radius: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.book-page .book-page__info .book-page__info_wrapper .book-page__info_wrapper_cats-auth .book-page__info_wrapper_cats-auth_authors {
  background-color: rgba(128, 128, 128, 0.199);
  padding: 0 5px;
  max-width: 180px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
}

.book-page .book-page__info .book-page__info_wrapper .book-page__info_wrapper_description {
  text-align: justify;
  word-wrap: break-word;
}

@media (max-width: 1200px) {
  .book-page .book-page__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .book-page .book-page__info .book-page__info_cover {
    margin: 0 auto;
    max-width: calc(1200px - 55%);
  }
  .book-page .book-page__info .book-page__info_wrapper {
    margin: 15px auto 0;
    max-width: 540px;
  }
  .book-page .book-page__info .book-page__info_wrapper .book-page__info_wrapper_description {
    max-width: calc(1920px - 55%);
  }
}

@media (max-width: 540px) {
  .book-page .book-page__info .book-page__info_wrapper {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .book-page .book-page__info .book-page__info_wrapper_cats-auth {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
  .book-page .book-page__info .book-page__info_wrapper_cats-auth .book-page__info_wrapper_cats-auth_categories {
    margin: 0 auto 5px;
  }
  .book-page .book-page__info .book-page__info_wrapper_cats-auth .book-page__info_wrapper_cats-auth_authors {
    margin: 5px auto 0;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */